/* will be enabled when the dislikes bar returns to nothing. */
.ytd-sentiment-bar-renderer{
    
}
.ryd-tooltip-bar-container{
padding-top:0 !important; /*remove unnessescary element size that prevents clicking buttons 1*/
padding-bottom:0 !important} /*remove unnessescary element size that prevents clicking buttons 2*/

.ryd-tooltip{
top:-27px !important; /*move bar below thing. I reccomend not putting it on top currently but do whatever*/
width: 100% !important; /*adjusts for broken length, full element*/
padding-top:0 !important; /*remove unnessescary element size that prevents clicking buttons 3*/
padding-bottom:0 !important} /*remove unnessescary element size that prevents clicking buttons 4*/
#return-youtube-dislike-bar{
background: #175800 !important;}
#return-youtube-dislike-bar-container{
background: #910000 !important;
width: 100% !important; /*adjusts for broken length, main likes bar*/
border-radius:0}